<%- include('../layouts/admin/adminHeader.ejs') %>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <%- include('../layouts/admin/adminNavbar.ejs') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <%- include('../layouts/admin/adminSidebar.ejs') %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <!-- Page Title Header Starts-->
                            <div class="page-header">
                                <h4 class="page-title">Category wise offer management</h4>
                            </div>
                            <!-- code -->
                            <table class="table mx-auto" style="width: 600px;">
                                <thead class="black white-text">
                                    <tr>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            hui
                                        </td>
                                        <td>
                                            hi
                                        </td>
                                        <td>
                                            hu
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                            <!-- code ends -->
                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            <%- include('../layouts/admin/adminFooter.ejs') %>