<%- include('../layouts/admin/adminHeader.ejs') %>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../layouts/admin/adminNavbar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../layouts/admin/adminSidebar.ejs') %>
          <div class="main-panel">
            <div class="content-wrapper">
              <!-- Page Title Header Starts-->
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title"> 404 Error</h4>
                  </div>
                </div>
              </div>
              <!-- Page Title Header Ends-->
              <div class="d-flex align-items-center justify-content-center bg-primary">
                <h1 class="display-1 fw-bold text-white">404</h1>
              </div>

              <!-- content-wrapper ends -->
              <%- include('../layouts/admin/adminFooter.ejs') %>