<%- include('../admin/adminHeader.ejs') %>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../admin/adminNavbar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../admin/adminSidebar.ejs') %>
          <div class="main-panel">
            <div class="content-wrapper">
              <!-- Page Title Header Starts-->
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
              </div>
              <!-- Page Title Header Ends-->

              <!-- code starts -->

              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-line fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2">Total Products</p>
                        <h6 class="mb-0"></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-bar fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2">Total Users</p>
                        <h6 class="mb-0"></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-area fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2">Total Sale</p>
                        <h6 class="mb-0">ejs</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-pie fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2">Total Revenue</p>
                        <h6 class="mb-0"></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sale & Revenue End -->

              <!-- Sales Chart Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Worldwide Sales</h6>
                      </div>
                      <canvas id="worldwide-sales"></canvas>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Sales & Revenue</h6>
                      </div>
                      <canvas id="salse-revenue"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sales Chart End -->

              <!-- Recent Sales Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Recent Sales</h6>
                  </div>
                  <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                      <thead>
                        <tr class="text-dark">
                          <th scope="col">Date</th>
                          <th scope="col">Invoice</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>01 Jan 2045</td>
                          <td>INV-0123</td>
                          <td>Jhon Doe</td>
                          <td>$123</td>
                          <td>Paid</td>
                        </tr>
                        <tr>
                          <td>01 Jan 2045</td>
                          <td>INV-0123</td>
                          <td>Jhon Doe</td>
                          <td>$123</td>
                          <td>Paid</td>
                        </tr>
                        <tr>
                          <td>01 Jan 2045</td>
                          <td>INV-0123</td>
                          <td>Jhon Doe</td>
                          <td>$123</td>
                          <td>Paid</td>
                        </tr>
                        <tr>
                          <td>01 Jan 2045</td>
                          <td>INV-0123</td>
                          <td>Jhon Doe</td>
                          <td>$123</td>
                          <td>Paid</td>
                        </tr>
                        <tr>
                          <td>01 Jan 2045</td>
                          <td>INV-0123</td>
                          <td>Jhon Doe</td>
                          <td>$123</td>
                          <td>Paid</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Recent Sales End -->
              <!-- code ends -->

            </div>
            <!-- content-wrapper ends -->
            <%- include('../admin/adminFooter.ejs') %>