<%- include('../layouts/admin/adminHeader.ejs') %>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <%- include('../layouts/admin/adminNavbar.ejs') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <%- include('../layouts/admin/adminSidebar.ejs') %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <!-- Page Title Header Starts-->
                            <div class="row page-title-header">
                                <div class="col-12">
                                    <div class="page-header">
                                        <h4 class="page-title">Sales Report</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- code -->
                            <table class="table">
                                <thead class="black white-text">
                                    <tr>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">Products</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Payment mode</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- code ends -->
                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            <%- include('../layouts/admin/adminFooter.ejs') %>