<%- include('../layouts/user/userHeader.ejs') %>
<!-- Spinner Start -->
<div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div
    class="spinner-grow text-primary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->

<!-- Navbar Start -->
<%- include('../layouts/user/userNavbar.ejs') %>
<!-- Navbar End -->

<!-- Hero Start -->
<div class="container-fluid bg-primary hero-header mb-5">
  <div class="container text-center">
    <h1 class="display-4 text-white mb-3 animated slideInDown">My Account</h1>
    <p>View and edit user details</p>
    <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Products</li>
                </ol>
            </nav> -->
  </div>
</div>
<!-- Hero End -->

<!-- account Start -->
<style>
  .inf-content {
    border: 1px solid #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  }
</style>
<div class="container bootstrap snippets bootdey">
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-4">
        <img
          alt=""
          style="width: 300px; height: 300px"
          src="../../user/img/profile.jpeg"
          data-original-title="Usuario"
        />
      </div>
      <div class="col-md-6 mx-3">
        <div class="table-responsive">
          <form action="/accountPost" method="post">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>
                    <label for="currentpassword">Current password :</label>
                  </td>
                  <td class="text-primary">
                    <input
                      type="password"
                      class="form-control"
                      name="currentpassword"
                      placeholder="*****"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="newpassword">New password :</label>
                  </td>
                  <td class="text-primary">
                    <input
                      type="password"
                      class="form-control"
                      name="newpassword"
                      placeholder="*****"
                      id="newpassword"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="confirmpassword">Confirm password :</label>
                  </td>
                  <td class="text-primary">
                    <input
                      type="password"
                      class="form-control"
                      name="confirmpassword"
                      placeholder="*****"
                      id="confirmpassword"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/accountPost"
                      ><button
                        class="btn btn-primary profile-button"
                        type="submit"
                        onclick="pwdChange()"
                      >
                        Save changes
                      </button></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- account End -->

<!-- Newsletter Start -->
<div class="container-fluid newsletter bg-primary py-5 my-5">
  <div class="container py-5">
    <div
      class="mx-auto text-center wow fadeIn"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="text-white mb-3">
        <span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
      </h1>
      <p class="text-white mb-4">
        Subscribe now to get 15% discount on any of our products
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
        <div class="position-relative w-100 mt-3 mb-2">
          <input
            class="form-control w-100 py-4 ps-4 pe-5"
            type="text"
            placeholder="Enter Your Email"
            style="height: 48px"
          />
          <button
            type="button"
            class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"
          >
            <i class="fa fa-paper-plane text-white fs-4"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Newsletter End -->

<!-- function pwdChange() -->
<script>
  function pwdChange() {
    var confirmPassword = document.getElementById("confirmpassword").value;
    var newPassword = document.getElementById("newpassword").value;
    if (confirmPassword !== newPassword) {
      // Passwords do not match, show an error message
      Swal.fire({
        icon: "error",
        title: "Password mismatch",
        text: "The passwords do not match. Please try again.",
        showCloseButton: true, // Add this line
        showCancelButton: false, // Add this line
      }).then(() => {
        location.href = "/changePassword";
      });
    }
  }
</script>

<!-- Footer Start -->
<%- include('../layouts/user/userFooter.ejs') %>
