<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= pageName %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../admin/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="../../admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../admin/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../admin/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../admin/images/favicon.png" />    
  </head>
  <body>