<%- include('../user/userHeader.ejs') %>

    <!-- Navbar Start -->
    <%- include('../user/userNavbar.ejs') %>
    <!-- Navbar End -->

     <!-- Hero Start -->
     <div class="container-fluid bg-primary hero-header mb-5">
        <div class="container text-center">
            <h1 class="display-4 text-white mb-3 animated slideInDown">Order successful</h1>
            <p>Thanks for shopping with us !!!</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <!-- Hero End -->

    
    <%- include('../user/userFooter.ejs') %>   