<%- include('../user/userHeader.ejs') %>
  <style>
    .badge {
      position: absolute;
      top: 0;
      right: 0;
      background-color: green;
      /* Set the background color of the badge */
      color: white;
      /* Set the text color of the badge */
      border-radius: 50%;
      /* Make the badge a circle */
      padding: 3px 6px;
      /* Adjust padding to fit your content */
      font-size: 9px;
      /* Adjust font size */
    }
  </style>
  <div class="container-fluid sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a href="/landingPage" class="navbar-brand">
          <h2 class="text-white">Organic Beauty</h2>
        </a>
        <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/products" class="nav-item nav-link">Products</a>
            <a href="/contact" class="nav-item nav-link">Contact</a>

            <div class="mx-lg-3 d-flex justify-content-end align-content-end mt-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false" style="background: transparent">
                  <i class="fas fa-user fa-lg mx-2" aria-hidden="true" style="color: black"></i>
                  <%= user ? user : 'user' %>
                </button>
                <% if(user){ %>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/account" class="nav-item" style="text-decoration: none">My Account</a>
                    </li>
                    <li>
                      <a href="/orders" class="nav-item" style="text-decoration: none">My Orders</a>
                    </li>
                    <li>
                      <a href="/address" class="nav-item" style="text-decoration: none">Address Book</a>
                    </li>
                    <li>
                      <a href="/wallet" class="nav-item" style="text-decoration: none">My Wallet</a>
                    </li>
                    <li>
                      <a href="/referral" class="nav-item" style="text-decoration: none">Referral Link</a>
                    </li>
                    <li>
                      <a href="/logout" class="nav-item" style="text-decoration: none">Logout</a>
                    </li>
                  </ul>
                  <% }else{ %>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/login" class="nav-item" style="text-decoration: none">Login</a>
                      </li>
                      <li>
                        <a href="/register" class="nav-item" style="text-decoration: none">Register</a>
                      </li>
                    </ul>
                    <% } %>
              </div>
            </div>
            <a href="/wishlist" style="position: relative; display: inline-block" class="mt-3" >
              <i class="fas fa-heart fa-lg mx-2" aria-hidden="true" style="color: black"></i>
              <% if(user){ %>
                <span class="badge">
                  <%=wishlistCount%>
                </span>
                <% }else{ %>
                  <% } %>
            </a>
            <a href="/cart" style="position: relative; display: inline-block" class="mt-3" >
              <i class="fas fa-shopping-cart fa-lg mx-2" aria-hidden="true" style="color: black"></i>
              <% if(user){ %>
                <span class="badge">
                  <%=count%>
                </span>
             <% }else{ %>
           <%  } %>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>