<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= locals.pageName %></title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../admin/vendors/iconfonts/ionicons/dist/css/ionicons.css"
    />
    <link
      rel="stylesheet"
      href="../../admin/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="../../admin/vendors/css/vendor.bundle.base.css"
    />
    <link
      rel="stylesheet"
      href="../../admin/vendors/css/vendor.bundle.addons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../admin/css/shared/style.css" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../admin/css/demo_1/style.css" />
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../admin/images/favicon.png" />
    <!-- sweet alerts  -->
    <link rel="stylesheet" href="sweetalert2.min.css" />
    <script src="sweetalert2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <!-- for coupon management calender interface -->
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet for admin Dashboard-->
    <link
      href="../../adminDashboard/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../../adminDashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- apex charts for admin Dashboard -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>

  <body>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </body>
</html>
